[client]
#default-character-set=utf8
loose-default-character-set=utf8
port                    = 3306
socket                  = /tmp/mysql3306.sock

[mysqld]
server-id               = 1
character-set-server    = utf8
user                    = mysql
port                    = 3306
socket                  = /tmp/mysql3306.sock
basedir                 = /cdr/webserver/mysql
datadir                 = /cdr/data0/mysql/3306/data
log-error               = /cdr/data0/mysql/3306/logs/mysql_error.log
#log-slow-queries       = /cdr/data0/mysql/3306/slow.log
#long_query_time        = 1
pid-file                = /cdr/data0/mysql/3306/data/mysql.pid

open_files_limit        = 10240
back_log                = 600
max_connections         = 1024
max_connect_errors      = 6000
table_open_cache        = 2048
table_definition_cache  = 2048
external-locking        = FALSE
max_allowed_packet      = 32M
sort_buffer_size        = 1M
join_buffer_size        = 1M
thread_cache_size       = 300
query_cache_size        = 0
query_cache_type        = 0

default-storage-engine  = innodb
transaction_isolation   = READ-COMMITTED
interactive_timeout     = 120
wait_timeout            = 120
skip-name-resolve

thread_stack            = 192K
tmp_table_size          = 246M
max_heap_table_size     = 246M

lower_case_table_names=1

#binlog
log-bin                 = /cdr/data0/mysql/3306/binlog/binlog
binlog_cache_size       = 4M
binlog_format           = MIXED
max_binlog_cache_size   = 8M
max_binlog_size         = 1G
expire_logs_days        = 7

#Myisam
key_buffer_size         = 256M
read_buffer_size        = 1M
read_rnd_buffer_size    = 16M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads   = 1
myisam_recover

#innodb
innodb_additional_mem_pool_size    = 16M
innodb_buffer_pool_size            = 2000M
innodb_data_file_path              = ibdata1:128M;ibdata2:128M;ibdata3:128M;ibdata4:128M;ibdata5:128M;ibdata6:100M:autoextend
innodb_thread_concurrency          = 0
innodb_flush_log_at_trx_commit     = 2
innodb_flush_method                = O_DIRECT
innodb_log_buffer_size             = 8M
innodb_log_file_size               = 256M
innodb_log_files_in_group          = 3
innodb_max_dirty_pages_pct         = 70
innodb_lock_wait_timeout           = 120
innodb_file_per_table              = 0
innodb_table_locks                 = 0 

[mysqldump]
quick
max_allowed_packet = 32M
